@import 'tailwindcss';
@import '@catppuccin/tailwindcss/mocha.css';

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, rgba(255, 83, 143, 0.5) 1px, rgba(0, 0, 0, 0) 2px);
  animation: backgroundAnimation 1200s linear infinite;
}

@keyframes backgroundAnimation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px -10000px;
  }
}
